body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('./images/background.jpg');
}

header, footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

header input{
  max-width: 600px;
}

main {
  padding: 20px;
}

form {
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

span {
  color: red;
  padding: 2px;
  font-weight: 900;
  font-size: larger;
}

.book-cards, .book-card {
  margin: 20px auto;
  padding: 10px;
  max-width: 600px;
  background-color: #e8e7e7;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.book-card {
  margin: 10px;
  background-color: #ffffff;
}

.book-card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.452);
  background-color: #45a049;
  color: white;
}

.confirmation-message, .error-message {
  color: #008000; /* green for confirmation, red for error */
  font-weight: bold;
  margin-top: 10px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

footer a {
  color: #fff;
  text-decoration: none;
}